:root {
    --primary: #71C9CE;
    --secondary: #53a3aa;
    --accent: #CBF1F5;
    --contrast: #E3FDFD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Code", serif;
}

body {
    background-color: var(--primary);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;

}

canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 960px;
    height: 540px;
}

.utils {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    border: 3px solid var(--secondary);
    border-radius: 5px;
    padding: 15px;
    counter-reset: count;
}

.util {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid var(--accent);
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
    transition: 0.5s ease;
}

.util:last-child {
    margin: 0;
}

.util::after {
    content: counter(count);
    counter-increment: count;
    position: absolute;
    bottom: 0;
    right: 2px;
    font-size: 13px;
    color: var(--accent);
}

.util:hover {
    border: 1px solid var(--secondary);
}

.util:hover i {
    color: var(--secondary);
}

.util:hover::after {
    color: var(--secondary);
}

.util-select {
    border: 1px solid var(--secondary);
}

.util-select i {
    color: var(--secondary);
}

.util-select::after {
    color: var(--secondary);
}

i {
    font-size: 24px; 
    color: var(--contrast);
}


.record-on {
    border: 1px solid red;
}

.record-on i {
    color: red;
}

.record-on::after {
    color: red;
}

.settings {
    display: none;

    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}

.active-settings {
    display: block;
}

#drawing-hand {
    z-index: -1;
    background-color: transparent;
}

#drawing-space {
    opacity: 0.5;
    background-color: white;
}

.support {
    display: none;
}

@media (max-width: 960px) or (max-height: 540px) {
    .container {
        display: none;
    }

    .support {
        display: flex;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        font-size: 38px;
        text-align: center;
        color: white;
    }
}