:root {
    --primary: #71C9CE;
    --secondary: #53a3aa;
    --accent: #CBF1F5;
    --contrast: #E3FDFD;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Fira Code", serif;
}

body {
    background-color: var(--primary);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

canvas {
    width: 960px;
    height: 540px;
    background-color: white;
    border-radius: 15px;
    -webkit-box-shadow: 0px 35px 50px 0px rgba(66, 68, 90, 0.43);
    -moz-box-shadow: 0px 35px 50px 0px rgba(66, 68, 90, 0.43);
    box-shadow: 0px 35px 50px 0px rgba(66, 68, 90, 0.43);
}

.utils {
    display: flex;
    border: 3px solid var(--secondary);
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    counter-reset: count;
}

.util {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 2px solid var(--accent);
    border-radius: 5px;
    cursor: pointer;
    margin-right: 15px;
    transition: 0.5s ease;
}

.util:last-child {
    margin: 0;
}

.util::after {
    content: counter(count);
    counter-increment: count;
    position: absolute;
    bottom: 0;
    right: 2px;
    font-size: 13px;
    color: var(--accent);
}

.util:hover {
    border: 1px solid var(--secondary);
}

.util:hover i {
    color: var(--secondary);
}

.util:hover::after {
    color: var(--secondary);
}

.util-select {
    border: 1px solid var(--secondary);
}

.util-select i {
    color: var(--secondary);
}

.util-select::after {
    color: var(--secondary);
}

i {
    font-size: 24px; 
    color: var(--contrast);
}


.settings {
    display: none;
}

.active-settings {
    display: block;
}


.support {
    display: none;
}

@media (max-width: 960px) or (max-height: 540px) {
    .container {
        display: none;
    }

    .support {
        display: flex;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
        font-size: 38px;
        text-align: center;
        color: white;
    }
}